:root {
  --cor-fundo: #fff8f5;
  --cor-quadrado: #fff0f3;
  --cor-hover: #ffe1e8;

  --cor-rosa: #f6b6c8;
  --cor-rosa-escuro: #d98fa6;

  --cor-amarelo: #f9e6a8;
  --cor-amarelo-escuro: #e5c96b;

  --cor-texto: #5c4b51;
  --cor-borda: #e7b7c5;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--cor-texto);
}