/* cores do projeto */
:root {
  --cor-fundo: #eef8ff;
  --cor-quadrado: #f7fcff;
  --cor-hover: #e0f1fa;

  --cor-azul: #c7e3f1;
  --cor-azul-claro: #d9edf7;
  --cor-azul-escuro: #7aaac4;

  --cor-borda: #a9cee2;
  --cor-sombra: #9fc5d9;

  --cor-texto: #5d7180;
  --cor-texto-claro: #718895;

  --cor-destaque: #b5d9eb;
}

/* estilo geral da página */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--cor-texto);
}